extends ../layouts/common
block content
  h1 Books
  a.badge.badge-primary(href="books/create") Add new book
  .container
    .row
      each book in books
        .card.m-2(style='width: 18rem;')
          .box
            img.card-img-top(src=book.image, alt='Card image cap')
          .card-body
            h5.card-title=book.title
            p.card-text=book.description
            a.btn.btn-primary(href='cart/add/' + book.id) Add to cart
            p
              a.btn.btn-primary.btn-sm.mb-2(href="books/update/" + book.id) Update
            p
              a.btn.btn-danger.btn-sm(href="books/delete/" + book.id) Delete
    
    
    h1=test
    p=page  
    case page
      when 1
        nav(aria-label='Page navigation example')
          ul.pagination
            li.disabled.page-item
              a.page-link(href='/books?page=' + (page-1)) Previous
            li.active.page-item
              a.page-link(href='/books?page=' + page)=page
            li.page-item
              a.page-link(href='/books?page=' + (++page))=(page)
            li.page-item
              a.page-link(href='/books?page=' + (++page))=(page)
            li.page-item
              a.page-link(href='/books?page=' + (page-1)) Next
      default
        nav(aria-label='Page navigation example')
          ul.pagination
            li.page-item
              a.page-link(href='/books?page=' + (page-1)) Previous
            li.active.page-item
              a.page-link(href='/books?page=' + page)=page
            li.page-item
              a.page-link(href='/books?page=' + (++page))=(page)
            li.page-item
              a.page-link(href='/books?page=' + (++page))=(page)
            li.page-item
              a.page-link(href='/books?page=' + (page-1)) Next
