extends ../layouts/common
block content
  h1 Hello #{user.name}
  form(action='/users/profile/', method="POST", enctype='multipart/form-data')
    .form-group
      label(for='title') Name:
      input#title.form-control(type='text', name='name', value=user.name)
    .form-group
      label(for='Email') Email:
      input#Email.form-control(type='text', name='Email', value=user.email)
    .form-group
      label(for='Password') Password:
      input#Password.form-control(type='password', value=user.password, disabled="disabled")
      a.badge.badge-info(href='#') Change password
    .form-group
      label(for='Avatar') Avatar:
      img(src=user.avatar, alt='Logo', width='32px')
      p.mt-2
        a.badge.badge-info(href='/users/profile/avatar') Change avatar
    button.btn.btn-primary Update